<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation=""
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- https://nlog-project.org/config/?tab=targets -->
	<!-- https://nlog-project.org/config/?tab=layout-renderers -->
	<!-- https://github.com/NLog/NLog/wiki/Configuration-file -->

  <!-- Custom layout -->
  <variable name="DetailLayoutRow2" value="[${counter},${pad:padding=5:inner=${level:uppercase=true}},${date}] ${message} ${exception} ${newline}${stacktrace}(${callsite-linenumber}) ${newline}" />
  <variable name="DetailLayoutRow3" value="[${counter}, ${level:uppercase=true}, ${date}] ${newline}${message} ${exception} ${newline}${stacktrace} at line ${callsite-linenumber} ${newline}" />
  <variable name="DetailLayoutRow1" value="[${counter},${pad:padding=5:inner=${level:uppercase=true}},${date}] | ${message} ${exception} | ${stacktrace}(${callsite-linenumber})" />
  <variable name="ConciseLayout" value="[${counter}, ${level:uppercase=true}, ${date}] | ${callsite}(${callsite-linenumber}) | ${message} ${exception}" />

  <targets>
	<!-- Max File Size: 10MB, Buffer Size: 1MB, Flush every 10 seconds  -->
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="1000000" flushTimeout="10000" />  
    <target xsi:type="File" name="FullTarget" fileName="Full.log" 
			archiveNumbering="DateAndSequence" archiveEvery="Day" archiveAboveSize="10000000"
			layout="${DetailLayoutRow2}" />
	<!-- target xsi:type="File" name="PhysicsTarget" fileName="Physics.log" 
			archiveNumbering="DateAndSequence" archiveEvery="Day" archiveAboveSize="10000000"
			layout="${DetailLayoutRow2}" -->
  </targets>
  
  <targets>
	<target xsi:type="ColoredConsole" name="DetailConsoleTarget" layout="${DetailLayoutRow2}" />
	<!--target xsi:type="ColoredConsole" name="ConciseConsoleTarget" layout="${DetailLayoutRow1}" -->
  </targets>

  <rules>
	<logger name="*" minlevel="Trace" writeTo="FullTarget,DetailConsoleTarget" />
	<!-- logger name="Physics.*" minlevel="Trace" writeTo="PhysicsTarget,DetailConsoleTarget" -->
	<!-- logger name="CustomNamespace.*" minlevel="Info" writeTo="FullTarget,DetailConsoleTarget" -->
	<!-- logger name="CustomNamespace.CustomClassName" minlevel="Info" writeTo="FullTarget,DetailConsoleTarget" -->
  </rules>
</nlog>